# Lec - 1

## Organising Data

Information can come in many forms, and part of a data scientist's job is making sure that information is organized in a way that's conducive to analysis. 

One common way to organize information is in a **table**, which is a group of **cells** organized into **rows** and **columns**:

When working with this sort of **tabular data**, it's important to organize row and columns following the principles of "**[tidy data](https://en.wikipedia.org/wiki/Tidy_data)**." What does that mean in the case of our dataset?

1. Each row corresponds to a single house in our dataset. We'll call each of these houses an **observation**.
2. Each column corresponds to a characteristic of each house. We'll call these **features**.
3. Each cell contains only one **value**.

### Python Lists
---

* Ordered collection of items that can be of any data type, including strings, integers, floats, and other lists.
* Defined by square brackets `[]`.
* Indexing starts at 0.
* Can be sliced, concatenated, and modified.

In [1]:
# Example

my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # prints 1
my_list.append(6)
print(my_list)  # prints [1, 2, 3, 4, 5, 6]

1
[1, 2, 3, 4, 5, 6]

### Python Dictionaries
---

* Unordered collection of key-value pairs.
* Defined by curly brackets {}.
* Keys must be unique and immutable (e.g., strings, integers).
* Values can be of any data type.
* Can be accessed, modified, and iterated over.

In [2]:
my_dict = {'name': 'John', 'age': 30}
print(my_dict['name'])  # prints John
my_dict['city'] = 'New York'
print(my_dict)  # prints {'name': 'John', 'age': 30, 'city': 'New York'}

John
{'name': 'John', 'age': 30, 'city': 'New York'}

### Pandas DataFrame
---
* A 2-dimensional labeled data structure with columns of potentially different types.
* Can be thought of as a spreadsheet or a table in a relational database.
* Can be created from a dictionary, where each key becomes a column and each value becomes a row.

In [3]:
import pandas as pd

In [4]:
# Example
data = {
    'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
    'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
    'price_per_m2': [905.55, 231.99, 499.61, 467.50, 755.89]
}

df = pd.DataFrame(data)
df

   price_approx_usd  surface_covered_in_m2  rooms  price_per_m2
0         115910.26                  128.0    4.0        905.55
1          48718.17                  210.0    3.0        231.99
2          28977.56                   58.0    2.0        499.61
3          36932.27                   79.0    3.0        467.50
4          83903.51                  111.0    3.0        755.89

# Lec - 2

## Importing and Reading Data

In [5]:
import os

In [6]:
# Get list of datasets and paths
datasets = os.listdir(os.listdir('./')[1])
datasets.pop(0)
datapath = [os.path.join(os.listdir('./')[1],i) for i in datasets]

In [7]:
# Load datasets
DFs = [pd.read_csv(i,header=[0]) for i in datapath]

In [8]:
# Print object type and shape for DataFrames
for no,df in enumerate(DFs):
    print(f"df{no+1} info:", df.info())
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        700 non-null    int64
 5   price_usd      700 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 32.9+ KB
df1 info: None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            571 non-null    float64
 3   lon            571 non-null    float64
 4   area_m2        700 non-null    int64
 5   price_mxn      700 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 32.9+ KB
df2 info: None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            700 non-null    object
 1   place_with_parent_names  700 non-null    object
 2   lat-lon                  582 non-null    object
 3   area_m2                  700 non-null    int64
 4   price_usd                700 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 27.5+ KB
df3 info: None

#### Cleaning

In [9]:
for df in DFs:
    df.dropna(inplace=True) # remove NaN
    df['property_type']= df['property_type'].astype('category')

In [10]:
DFs[0]["price_usd"] = ( DFs[0]["price_usd"].str.replace("$","")
                       .str.replace(",","").astype(float))

In [11]:
DFs[0]

    property_type             state        lat         lon  area_m2  price_usd
0           house  Estado de México  19.560181  -99.233528      150   67965.56
1           house        Nuevo León  25.688436 -100.198807      186   63223.78
2       apartment          Guerrero  16.767704  -99.764383       82   84298.37
3       apartment          Guerrero  16.829782  -99.911012      150   94308.80
5           house           Yucatán  21.052583  -89.538639      205  105191.37
..            ...               ...        ...         ...      ...        ...
693         house            Puebla  19.051815  -98.277669      198  115910.26
694     apartment  Distrito Federal  19.309208  -99.171906       70   77572.89
696         house           Yucatán  21.050653  -89.558841      334  137017.34
697         house           Yucatán  21.343796  -89.262060      130  110404.35
699         house         Querétaro  20.587378 -100.418361      106   56637.97

[583 rows x 6 columns]

In [12]:
pesos2usd = lambda x: round(x/19,2)
DFs[1]["price_usd"] = DFs[1]["price_mxn"].apply(pesos2usd)
DFs[1].drop(columns="price_mxn",inplace=True)

In [13]:
DFs[1]

    property_type             state        lat         lon  area_m2  price_usd
0       apartment        Nuevo León  25.721081 -100.345581       72   68421.05
2           house           Morelos  23.634501 -102.552788      360  278947.37
6       apartment  Estado de México  19.272040  -99.572013       85   65789.47
7           house   San Luis Potosí  22.138882 -100.996510      158  111578.95
8       apartment  Distrito Federal  19.394558  -99.129707       65   39904.74
..            ...               ...        ...         ...      ...        ...
695         house           Morelos  18.917542  -98.963181      140   76315.79
696         house  Distrito Federal  19.472128  -99.146697      190  102263.16
697         house  Estado de México  19.234984  -99.558175      115  110526.32
698         house            Puebla  18.918714  -98.426639       90   46842.11
699         house           Yucatán  21.075163  -89.516731      185   89210.53

[571 rows x 6 columns]

In [14]:
DFs[2]['state'] = DFs[2].iloc[:,1].str.split("|",expand=True)[2]
DFs[2]["lat lon".split()] = DFs[2].iloc[:,2].str.split(",",expand=True)
DFs[2] = DFs[2][['property_type', 'state', 'lat', 'lon','area_m2','price_usd']]

In [15]:
DFs[2]

,property_type,state,lat,lon,area_m2,price_usd
0,apartment,Distrito Federal,19.52589,-99.151703,71,48550.59
1,house,Estado de México,19.2640539,-99.5727534,233,168636.73
2,house,Estado de México,19.268629,-99.671722,300,86932.69
4,apartment,Veracruz de Ignacio de la Llave,19.511938,-96.871956,84,68508.67
5,house,Jalisco,20.689157,-103.366728,175,102763.00
...,...,...,...,...,...,...
695,house,Jalisco,20.532264,-103.484418,175,121178.91
696,house,Morelos,18.9289862,-99.1802147,100,47417.83
697,house,Yucatán,21.0284038368,-89.6530058049,81,39524.23
698,house,San Luis Potosí,22.11830417,-101.0321938992,360,245050.24
699,house,Estado de México,19.233201,-99.558519,115,110667.85

In [16]:
pd.concat(DFs).to_csv(f"{os.listdir('./')[1]}/cleaned-data.csv",index=False)

In [17]:
df = pd.read_csv(f"{os.listdir('./')[1]}/cleaned-data.csv")
df = df.astype({"property_type":"category","state":"category"})
df = df.round({"lat":2,"lon":2})
df.index+=1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 1 to 1736
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  1736 non-null   category
 1   state          1736 non-null   category
 2   lat            1736 non-null   float64
 3   lon            1736 non-null   float64
 4   area_m2        1736 non-null   int64
 5   price_usd      1736 non-null   float64
dtypes: category(2), float64(3), int64(1)
memory usage: 59.2 KB

In [18]:
df

     property_type             state    lat     lon  area_m2  price_usd
1            house  Estado de México  19.56  -99.23      150   67965.56
2            house        Nuevo León  25.69 -100.20      186   63223.78
3        apartment          Guerrero  16.77  -99.76       82   84298.37
4        apartment          Guerrero  16.83  -99.91      150   94308.80
5            house           Yucatán  21.05  -89.54      205  105191.37
...            ...               ...    ...     ...      ...        ...
1732         house           Jalisco  20.53 -103.48      175  121178.91
1733         house           Morelos  18.93  -99.18      100   47417.83
1734         house           Yucatán  21.03  -89.65       81   39524.23
1735         house   San Luis Potosí  22.12 -101.03      360  245050.24
1736         house  Estado de México  19.23  -99.56      115  110667.85

[1736 rows x 6 columns]